@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 0.5rem;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}